/*	The film-info style	*/
.FilmGetter-film
{
	display:block;
	margin-top:5px;
	clear:both;
	width:100%;
	height:100px;
	margin-bottom:10px;
}
/*	for the poster, the picture.	*/
.FilmGetter-film .poster
{
	float:left;
	width:80px;
	height:100px;
	margin-right:5px;
}
/*	just a clear-fix. clear all floats.	*/
.FilmGetter-film .clear
{
	clear:both;
}
.FilmGetter-imdb
{

}
/*	fixer to make paddings and stuff after the film-info - can be added to the clear-div. And save place.	*/
.FilmGetter-fixer
{
	display:block;
	width:100%;
	clear:both;
	height:30px;
}